html { background: #FFD3E6; }
body { 
    background: #FFFFFF;
    width: 1000px;
    margin: 0 auto;
    padding: 2rem;
color: #4d4a4b;

    font-family: 'Raleway', sans-serif;

}

h1 { 
   font-family: 'Playfair Display', serif;
color: #4d4a4b; text-align: center;
}

h2 { 
font-family: 'Playfair Display', serif;
color: #4d4a4b; text-align: center;
}

h3 { 
font-family: 'Playfair Display', serif;
color: #4d4a4b; text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

text-align: center;
}

li {
  display: inline;
}

.center-children {
  text-align: center;
}

footer {
text-align: center; 
    width: 1000px;
    border-style: hidden;


}

a:visited {
  color: #A24162;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }